In [3]:
print('hello world')

hello world

In [5]:
print("hello")

hello

In [13]:
x = 10
print(x)
name = 'siddhu'
print(name)

10
siddhu

In [15]:
print(f'the value of x is : {x} and my name is {name}')
print(f'KRS CLASSES {x} and {name} ')

the value of x is : 10 and my name is siddhu
KRS CLASSES 10 and siddhu

In [19]:
value = input()
type(value)

 KRS

str

In [1]:
value = int(input('enter value : '))
type(value)

enter value :  23

int

In [27]:
'''
2**10
# single line comment
'''

1024

In [29]:
val = int(input('enter number'))
if val<2:
    print('hello')
elif val==2: 
    print('world')
else:
    print ('krs')

enter number 2

world

In [3]:
num_list = [1,2,3,4,5,6,7]
alp_list = ['k','r','s']
arr = ['s','string']

['s', 'string']

In [41]:
num_list.append('sid')
num_list.insert(1,2)
num_list

[1, 2, 2, 2, 3, 4, 5, 6, 7, 'sid', 'sid', 'sid']

In [37]:
alp_list.append(1)
alp_list

['k', 'r', 's', 1]

In [45]:
alp_list[0]

'k'

In [49]:
# slicing
alp_list[0:4]

['k', 'r', 's', 1]

In [13]:
alp_list[:]

['k', 'r', 's', 1]

In [14]:
alp_list[:-1]

['k', 'r', 's']

In [53]:
alp_list[-1:]
# more example

[]

In [57]:
# comment 
dict = {'key1' : 'item1', 'key2' : 'item2'}
dict['key1']

'item1'

In [59]:
dict.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [61]:
dict.keys()

dict_keys(['key1', 'key2'])

In [4]:
tuple = (1,2,3,4)

In [5]:
tuple[0]

1

In [6]:
tuple[0] = 'krs'

TypeError: 'tuple' object does not support item assignment

In [7]:
# for loop
list_1 =[1,2,3,4,5]
square = []
for x in list_1:
    square.append(x*x)
square

[1, 4, 9, 16, 25]

In [8]:
for i in range(10,15,2):
    print(i)

10
12
14

In [77]:
# while loop
i = 5
while (i>=0):
    print(i)
    i-=1  # i = i-1
# i-- not supported

5
4
3
2
1
0

In [79]:
# functions
def sum(a,b):
    return a+b
out = sum(5,6)
out

11

In [11]:
# map(function_name , iterable_element)
seq=[1,2,3,4]
def mul(i):
    return i*i
out = map(mul,seq)
print(list(out))

[1, 4, 9, 16]

In [87]:
# lambda expression
seq_1=[1,2,3,4]
out_1 = map(lambda x: x*x*x ,seq_1)
print(list(out_1))

[1, 8, 27, 64]

In [93]:
# strings
st = 'wlecome to day 0 of krs classes'
l = st.lower()
print(l)
u = st.upper()
print(u)
sp = st.split()
print(sp)
s = 'xyz@gmail.com'
f = s.split('@')
print(f)

wlecome to day 0 of krs classes
WLECOME TO DAY 0 OF KRS CLASSES
['wlecome', 'to', 'day', '0', 'of', 'krs', 'classes']
gmail.com
['xyz', 'gmail.com']